Body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#Welcome {
    background-image: url(../images/make-a-dog-near-the-fridge-17859467.png);
    background-size: cover;
}

#Products {
    background-color: floralwhite;
}

Label {
    font-size: 23px;
}

#Welcome div {
    padding-left: 250px;
    padding-top: 100px;
    width: 1000px;
    height: 600px;
    font-size: 10px;
    color: mediumspringgreen;
    font-family: Arial, Helvetica, sans-serif;
}