Body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#Products {
    background-color: floralwhite;
}

Label {
    font-size: 23px;
}

#Welcome {
    padding-left: 20px;
    padding-top: 180px;
    width: 100%;
    height: 1000px;
    font-size: 10px;
    color: rgb(228, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/make-a-dog-near-the-fridge-17859467.png);
    background-size: cover;
    font-weight: bolder;
}

#buynow {
    background-color:bisque;
    font-size: large;
    font-weight: bolder;
}